<html>
<head>
    <title>Pagina Home</title>
</head>
<body>
    <h1>Title</h1>

    <p>
        Eae, {{nome}}
    </p>
    <ul>
    {{#produtos}}
        <li>{{nome}} - {{price}}</li>
    {{/produtos}}
    </ul>
</body>
</html>
